.card-user-icon {
    font-size: 1.3rem;
}
.card-user-span {
    font-size: 0.85rem;
    vertical-align: middle;
}
.card-cart-shopping-span {
    font-size: 0.9rem;
    margin-left: 4px;
}
.card-categorias-link {
    margin-left: 0.5rem;
}